body{
    background-color: rgb(113, 238, 113);
    color:rgb(6, 102, 38) ;
    font: normal 25pt arial;
}
h1 {
    color: darkslateblue;
    font: normal 31pt arial;
}

h2 {
    color: darkslateblue;
    font: normal 31pt arial;
}

h3{
    color: darkslateblue;
    font: normal 31pt arial;
}

h4{
    color: darkslateblue;
    font: normal 31pt arial;
}

h5{
    color: darkslateblue;
    font: normal 31pt arial;
}

